{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 140,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@js-fns/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
