<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Refresh" content="0; ./<%= version %>" />
	</head>

	<body>
		<p>
			<a href="./<%= version %>">Go to latest version of <b><%= name %></b></a>
		</p>
	</body>
</html>
